.container {
  min-height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #ebebeb;
  padding: 10px 24px 0;
  display: flex;
  flex-direction: column;
}

.containerExpanded {
  /* 56px is the header */
  max-height: calc(100vh - 56px);
}

.bar {
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.info {
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  line-height: 1.2;
}

.buttonContainer {
  flex-direction: column;
}

/* make it DRY if there is another place uses media query */
@media (min-width: 600px) {
  .buttonContainer {
    flex-direction: row;
  }
}

.divider {
  margin: 10px;
}

.description {
  overflow: hidden;
  height: 0;
  transition: height 0.5s;
}

.descriptionExpanded {
  transition: height 0.5s;
}

.expandIcon {
  transition: transform 0.5s;
}

.expandIconExpanded {
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.extract {
  margin-bottom: 10px;
}
